<section class="about" id="about">
  <div class="about__pic-wrap">
    <div class="container">
      <p class="about__pre-title">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
      <div class="about-wrap">
        <div class="about__pic"></div>
        <div class="about__description">
          <h3 class="about__description-title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </h3>
          <div class="about__description-wrap">
            <p class="about__description-paragraph">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
            <p class="about__description-paragraph">Aliquam erat volutpat. Aenean accumsan.</p>
          </div>
          <button type="button" modal-open-about class="about__button">Read more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="about-backdrop" modal-about>
    <div class="about-modal">
      <h3 class="about-modal__title">How to Store Ice Cream</h3>
      <p class="about-modal__text">
        Pour the milk into a saucepan and bring to a boil over medium heat. Combine the yolks with the
        sugar, beat into a fluffy foam. Put the resulting mass on low heat and, stirring constantly,
        cook until thickened. Pour the ice cream into a tray or serving cups and leave to freeze for 4
        hours.
      </p>
      <p class="about-modal__text">
        Dessert is much more useful than store-bought products, because it does not contain palm oil
        and carcinogens. Your children will not even notice the difference, so feel free to prepare
        large portions for the whole family. For cooking, it is enough to stock up on simple
        ingredients that housewives always have on hand
      </p>
  
      <button class="about-modal__btn" modal-close-about>Close</button>
    </div>
</section>
